# Pandas Date and Time

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set()
import pandas as pd

## Working with Timestamp

For points in time, Pandas provides the `Timestamp` type. 

It is a replacement for Python's native `datetime`, but is based on the more efficient `numpy.datetime64` data type.

You can create a simple date time as a `Timestamp` using the Pandas `to_datetime` functions which takes a string to parse:

In [2]:
date = pd.to_datetime("14th of October, 2018")
date

Timestamp('2018-10-14 00:00:00')

You can also use the Timestamp constructor directly

In [3]:
date = pd.Timestamp(year=2018, month=10, day=14, hour=12, minute=0, second=30)
python_datetime = date.to_pydatetime()
print(date)
print(type(date))
print(python_datetime)
print(type(python_datetime))

2018-10-14 12:00:30
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2018-10-14 12:00:30
<class 'datetime.datetime'>

There are multiple attributes that let you access the information stored in a Timestamp object. 

You can find the full list here: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Timestamp.html#pandas.Timestamp

In [4]:
print(date.day)
print(date.dayofyear)
print(date.week)
print(date.month)
print(date.year)
print(date.hour)
print(date.minute)
print(date.second)

14
287
41
10
2018
12
0
30

## Working with Time Series

In [ ]:
datetimes = pd.DatetimeIndex(['2014-07-04', '2014-08-04',
                          '2015-07-04', '2015-08-04'])

In [ ]:
datetimes

In [ ]:
series = pd.Series([10, 4, 14, 30], index=datetimes)

In [ ]:
series

In [ ]:
series['2015']

In [ ]:
type(data)

In [ ]:
series.plot()

### Create a range of dates
You can simple create a range of dates by providing two dates interval. By default, the interval is one day.

In [ ]:
dates = pd.date_range('2015-07-03', '2015-07-10')

You can also be more specific by deciding how many periods and what unit to use for the frequency. E.g. here `W` means week.

In [ ]:
weeks = pd.date_range('2018 Oct 1', periods = 10, freq = 'W')
weeks

### Timedelta

Pandas allow you to do arithmetic which returns deltas:

In [ ]:
weeks - weeks[0]

## Exercises

Let's retrieve stock data from Google using the Yahoo API.
This will be represented as a time series by date.

In [1]:
from pandas_datareader import data

goog = data.DataReader('GOOG', start='2017', end='2019',
                       data_source='yahoo')
goog.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-01-03,789.630005,775.799988,778.809998,786.140015,1657300,786.140015
2017-01-04,791.340027,783.159973,788.359985,786.900024,1073000,786.900024
2017-01-05,794.479980,785.020020,786.080017,794.020020,1335200,794.020020
2017-01-06,807.900024,792.203979,795.260010,806.150024,1640200,806.150024
2017-01-09,809.966003,802.830017,806.400024,806.650024,1274600,806.650024

In [2]:
goog['Close'].plot()

### Find the date for the highest closing price in 2018

In [ ]:
goog['Close']['2018'].argmax()

### Find the median closing price in 2018

In [ ]:
goog['Close']['2018'].median()

### Find the average closing prince in July 2018

In [ ]:
goog['Close']['2018-01'].mean()

## Timezones

In [ ]:
london = pd.Timestamp.now(tz="Europe/London")
brussels = london.tz_convert("Europe/Brussels")
print(london)
print(brussels)